@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Remover a barra de rolagem lateral */
}

body {
    display: flex;
    background-color: black;
    justify-content: center; /* Substitui o comando margin: auto; */
}

header {
    position: absolute; /* Para deixar os links acima */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 750px;
    height: 46px;
}

a {
    display: inline-block;
    background-image: linear-gradient(to top, red 10%, gray 30%, black, red 90%);
    text-decoration: none;
    padding: 2px;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
}

a:hover {
    background-image: linear-gradient(to top, gray, black, gray);
    border: 1px solid black;
}

main {
    width: 750px;
    padding: 10px;
    background-color: white;
    margin-top: 50px;
}

h1, h2 {
    text-align: center;
    border: 2px dashed red;
    margin: 10px 0px;
}

h3 {
    text-align: center;
    text-shadow: 5px 2px 5px black;
}

.multiplas {
    text-shadow: 0 0 10px #ff0000, 2px 2px 5px yellow;
}

p {
    text-align: justify;
    text-indent: 40px;
    letter-spacing: normal; /* Adicione um valor em pixels */
    word-spacing: normal; /* Adicione um valor em pixels */
    font-size: large; /* Tamanho da fonte*/
    font-weight: normal; /* Grossura da fonte */
}

/* Comandos para imagens */

.exemplo-back {
    height: 300px;
    background-color: gray;
    background-image: url("caminho");
    background-size: cover; /* Há também a propriedade "contain" */ 
    background-repeat: no-repeat;
    background-position: center;
    /* Usando os comando acima com Short-hand: */
    /* background: gray url("caminho") no-repeat center */
    /* Somente a propriedade background-size não entra no short-hand */
}

.container {
    position: relative;
    display: inline-block;
    background-color: blue;
    width: 100%;
    height: 200px;
}

.div1 {
    position: relative;
    background-color: yellow;
    width: 30%;
    height: 100px;
    /* left: 20px; */
    display: inline-block;
}

.div2 {
    /* position: absolute; */
    background-color: white;
    width: 30%;
    height: 100px;
    display: inline-block;
}

.div3 {
    position: absolute; /* Esta propriedade faz com que a div se comporte com relação ao pai dela. A regra é colocar um pai relativo e um filho absolute. */
    background-color: red;
    width: 30%;
    height: 100px;
    display: inline-block;
}

#fixo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    font-weight: bolder;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
}

.caixa {
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
}

.caixa img {
    float: left;
    background-repeat: no-repeat;
    margin-right: 5px;
}